@import "../../../sassStyle//global";
@import "../../../sassStyle//mixin";
@import "../../../sassStyle//variables";
.linkItem {
  color: black;
  text-decoration: none;
}
.MuiDrawer-root {
  .Title {
    .MuiListItemText-root {
      .category-text {
        line-height: 24px;
      }
      .MuiTypography-root {
        color: $color-white-0;
        font-size: large;
        font-weight: 700 !important;
      }
    }
  }
}
