.course-section {
  .search-title,
  .for-more-title {
    font-size: 1.5rem;
    padding: 30px;
    font-weight: 700;
  }
  .list-item {
    display: flex !important;
    padding: 30px;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #3c3b37;
    img {
      border-radius: 5px;
      width: 25%;
      height: 180px;
      margin-right: 30px;
    }
    .text-course {
      width: 73%;
      display: flex;
      justify-content: space-between;
      .up {
        display: flex;
        flex-direction: column;
        h3 {
          margin: 0;
        }
        .title-course {
          font-size: 1.3rem;
        }
        .intro-course {
          font-size: 1.1rem;
          line-height: 1.4rem;
          margin-top: 10px;
          color: #3c3b37;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          white-space: pre-line;
        }
        .tutor-course {
          font-size: 0.9rem;
          margin: 8px 0 5px 0;
        }
        .update-course {
          font-size: 0.9rem;
          margin-bottom: 8px;
          span:first-child {
            color: #2d8643;
            margin-right: 5px;
          }
          span:nth-child(2) {
            margin-right: 5px;
            color: #2d8643;
            font-weight: 700;
          }
          span:nth-child(3) {
            margin-right: 5px;
          }
        }
        .votes {
          display: flex;
          align-items: center;
          span:first-child {
            font-size: 1.3rem;
            font-weight: 700;
            margin-right: 5px;
            color: #be5a0e;
          }
          .stars {
            margin-right: 5px;
            color: #eb8a2f;
          }
          .views {
            margin-right: 5px;
          }
          .bestseller {
            font-size: 0.9rem;
            padding: 8px;
            background: #ffe799;
            color: #593d00;
            border-radius: 8px;
          }
        }
      }
      .down {
        .price {
          font-size: 1.3rem;
          font-weight: 700;
        }
      }
    }
  }
  .btns {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    .filter {
      border: 1px solid #0f7c90;
      padding: 10px 15px;
      border-radius: 5px;
      margin-right: 20px;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        color: #0f7c90;
        font-size: 1.3rem;
        font-weight: 700;
        span {
          margin-left: 10px;
        }
      }
    }
    .popular {
      .popular-selector {
        cursor: pointer;
        border: 1px solid #d3d3d3;
        padding: 10px 15px;
        border-radius: 5px;
        // margin-right: 20px;
        font-size: 1.3rem;
        font-weight: 300;
        &:focus-visible {
          outline: none;
        }
        option {
          font-weight: 300;
          font-size: 1.3rem;
        }
      }
    }
  }
}
