// variable color
$color-primary: #1830b9; // default
$color-secondary: #f50057;
$color-black-0: #202020;
$color-black-1: #495057;
$color-gray-0: #818181;
$color-white-0: #fff;
$color-white-1: #f8f9fa;
$color-red-0: #fe4646;
$color-orange: #fd7e14;
$color-yellow: #ffc107;

// variable width
$width-button: 180px;
$width-1: 300px;
$width-button-2: 37px;

// variable height
$height-1: 46px;

// variable text
$fs-lg-logo-one: 55px;
$fs-lg-logo-two: 38px;

//break points
$large: 1024px;
$medium: 768px;
$small: 425px;
