.cover-sidebar {
  width: 300px;
  height: 100%;
  background: #7a8cd7;
  transition: all 0.15s ease-in;
  .up {
    padding: 10px 20px;
    background: #6a7fd3;
    display: flex;
    align-items: center;
    .text {
      p {
        text-transform: capitalize;
        font-size: 2.1rem;
        color: #fff;
        font-weight: 700;
      }
    }
  }
  .down {
    // padding: 10px 20px;
    background: #7a8cd7;
    li {
      padding: 10px 0;
      padding-left: 30px;
      transition: 0.3s ease-in;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500;
      }
      &:hover {
        transform: scale(1.1);
        background: #fff;
        a {
          color: #7386d5;
        }
      }
    }
  }
}
