.course-list {
  border-bottom: 1px solid #ced4da;
  .cover {
    height: 150px;
    padding: 10px 0;
    padding-right: 10px;
    margin-left: 0 !important;

    .info {
      p {
        margin-top: 10px;
        font-weight: 300;
        font-size: 1rem;
      }
    }
    .img {
      overflow: hidden;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        background: #f50057;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 768px) {
  .course-list {
    .cover {
      height: 330px;

      .img {
        height: 150px;
      }
    }
  }
}
